.divLogin {
  text-align: center;
  background-color: lightblue;
  min-width: 100vw;
  overflow: visible;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divCalendar {
  text-align: center;
  background-color: lightblue;
  min-width: 100vw;
  overflow: visible;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divCalendarUser{
  text-align: center;
  background-color: lightblue;
  min-width: 100vw;
  overflow: visible;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}