.adminPanel{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  text-align: start;
  min-height: 100vh;
}

.drawerDiv{
  background-color: cornflowerblue;
}

h4{
    margin-top: 8px;
}

